/* =========================================
   SFONDO PRINCIPALE SIDEBAR
========================================= */
QWidget#SidebarMain {
    background-color: #1e293b;
}

/* =========================================
   TITOLO PRINCIPALE
========================================= */
QLabel#SidebarTitle {
    color: #f8fafc;
    letter-spacing: 1px;
}

/* =========================================
   LISTA MENU NAVIGAZIONE
========================================= */
QListWidget#SidebarMenu {
    background-color: transparent;
    border: none;
    outline: 0px;
}

QListWidget#SidebarMenu::item {
    background-color: #334155; 
    border: 2px solid #475569; 
    color: #f8fafc; 
    font-size: 20px;
    font-family: "Segoe UI";
    font-weight: bold;
    padding: 20px 10px;
    margin: 8px 10px;
    border-radius: 12px;
}

QListWidget#SidebarMenu::item:hover {
    background-color: #475569; 
    border: 2px solid #94a3b8;
}

QListWidget#SidebarMenu::item:selected {
    background-color: #6f42c1;
    border: 2px solid #8b5cf6; 
    color: #ffffff;
}

/* =========================================
   FOOTER SIDEBAR
========================================= */
QLabel#SidebarFooter {
    color: #64748b;
}
